In [1]:

# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
#import scipy.stats as stats
# from scipy.stats import shapiro, ktest,  poisson, chisquare, expon, kstest
from scipy.stats import shapiro, kstest, poisson, chisquare, expon


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [2]:
import scipy.stats as stats

Ejercicios estadística inferencial

1. Igual que en los ejercicios de la clase invertida, evalúa si las siguientes afirmaciones corresponden a una distribución exponencial o poisson.

¿El tiempo que transcurre entre la llegada de autobuses a una parada sigue una distribución exponencial o de Poisson? exponencial

¿El número de errores en un artículo de noticias sigue una distribución exponencial o de Poisson? Poisson

¿El tiempo que transcurre entre la llegada de solicitudes de servicio en un restaurante sigue una distribución exponencial o de Poisson? exponencial

¿El número de accidentes de tráfico en una hora en una ciudad sigue una distribución exponencial o de Poisson?Poisson

¿El tiempo entre llegadas de llamadas telefónicas a una central de emergencias sigue una distribución exponencial o de Poisson?exponencial

¿El número de clientes que ingresan a una tienda en una hora sigue una distribución exponencial o de Poisson?Poisson

¿El tiempo entre llegadas de correos electrónicos en una bandeja de entrada sigue una distribución exponencial o de Poisson?exponencial

¿El número de defectos en una línea de producción por día sigue una distribución exponencial o de Poisson?Poisson

¿El tiempo que transcurre entre la llegada de taxis en una parada sigue una distribución exponencial o de Poisson?exponencial

¿El número de errores de ortografía en un libro de texto sigue una distribución exponencial o de Poisson?Poisson

2. Ejercicios intervalo de confianza. Al igual que en el caso del ejercicio de la clase invertida, piensa un motivo por el que sería interesante calcular estos intervalos de confianza para la extracción de insights.

In [ ]:
df = pd.read_csv("world_data_total_2.csv", index_col = 0)
df.head()

In [4]:
df.columns

Index(['density(p/km2)', 'abbreviation', 'agricultural_land', 'land_area',
       'armed_forces_size', 'birth_rate', 'calling_code', 'capital/major_city',
       'co2-emissions', 'cpi', 'cpi_change', 'currency-code', 'fertility_rate',
       'forested_area', 'gasoline_price', 'unnamed_0_y', 'gdp',
       'gross_primary_education_enrollment',
       'gross_tertiary_education_enrollment', 'infant_mortality',
       'largest_city', 'life_expectancy', 'maternal_mortality_ratio',
       'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure',
       'physicians_per_thousand', 'population',
       'population_labor_force_participation', 'tax_revenue', 'total_tax_rate',
       'unemployment_rate', 'urban_population', 'country', 'latitud',
       'longitud', 'continent'],
      dtype='object')

Intervalo de Confianza para la Esperanza de Vida
Contexto: Trabajas en una organización de salud global y deseas estimar el intervalo de confianza al 95% para la esperanza de vida promedio de cada continente.
 =
Nota: Cuidado porque puede que os salgan algunos nulos, genera un código para que no salgan nulos en los intervalos de confianza.

In [9]:
df1 = df[df["life_expectancy"].notnull()]
df1["life_expectancy"]

unnamed_0_x
0      64.5
1      78.5
2      76.7
4      60.8
5      76.9
       ...
190    72.1
191    75.3
192    66.1
193    63.5
194    61.2
Name: life_expectancy, Length: 187, dtype: float64

In [10]:

media = df1["life_expectancy"].mean()

error = stats.sem(df1["life_expectancy"])

nivel_confianza = 0.95

grados_libertad = len(df1["life_expectancy"]) - 1

valor_critico = stats.t.ppf((1 + nivel_confianza) / 2, df=grados_libertad)

limite_inferior = media - valor_critico * error
limite_superior = media + valor_critico * error

print(f"Intervalo de Confianza: ({np.round(limite_inferior, 2)}, {np.round(limite_superior, 2)})")

Intervalo de Confianza: (71.2, 73.36)

Intervalo de Confianza para el PIB

Contexto: Eres una economista y quieres calcular el intervalo de confianza al 90% para el Producto Interno Bruto (PIB) de los continentes.

In [15]:
df2 = df.groupby("continent")["gdp"].mean().reset_index()

In [16]:
df2.columns

Index(['continent', 'gdp'], dtype='object')

In [18]:
media = df2["gdp"].mean()

error = stats.sem(df2["gdp"])

nivel_confianza = 0.90

grados_libertad = len(df2["gdp"]) - 1

valor_critico = stats.t.ppf((1 + nivel_confianza) / 2, df=grados_libertad)

limite_inferior = media - valor_critico * error
limite_superior = media + valor_critico * error

print(f"Intervalo de Confianza: ({np.round(limite_inferior, 2)}, {np.round(limite_superior, 2)})")

Intervalo de Confianza: (211747555430.77, 978740880625.54)

Intervalo de Confianza para la Tasa de Natalidad
Contexto: Trabajas en una agencia gubernamental que se ocupa de cuestiones demográficas y deseas determinar el intervalo de confianza al 99% para la tasa de natalidad promedio en Asia.

In [28]:
df3 = df[df["continent"] == 'Asia']
df4 = df3[df3["fertility_rate"].notnull()]
df4.head()

,density(p/km2),abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,unnamed_0_y,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,country,latitud,longitud,continent
unnamed_0_x,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,0,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,Afghanistan,3393911.0,67709953.0,Asia
7,104.0,AM,58.9,29743.0,49000.0,13.99,374.0,Yerevan,5156.0,129.18,1.4,AMD,1.76,11.7,0.77,7,1.367280e+10,92.7,54.6,11.0,Yerevan,74.9,26.0,0.66,Armenian,81.6,4.40,2957731.0,55.6,20.9,22.6,16.99,1869848.0,Armenia,40069099.0,45038189.0,Asia
10,123.0,AZ,57.7,86600.0,82000.0,14.00,994.0,Baku,37620.0,156.32,2.6,AZN,1.73,14.1,0.56,10,3.920700e+10,99.7,27.7,19.2,Baku,72.9,26.0,0.47,Azerbaijani language,78.6,3.45,10023318.0,66.5,13.0,40.7,5.51,5616165.0,Azerbaijan,40143105.0,47576927.0,Asia
12,2239.0,BH,11.1,765.0,19000.0,13.99,973.0,Manama,31694.0,117.59,2.1,BHD,1.99,0.8,0.43,12,3.857407e+10,99.4,50.5,6.1,Riffa,77.2,14.0,NaN,Arabic,25.1,0.93,1501635.0,73.4,4.2,13.8,0.71,1467109.0,Bahrain,260667.0,505577.0,Asia
13,1265.0,BD,70.6,148460.0,221000.0,18.18,880.0,Dhaka,84246.0,179.68,5.6,BDT,2.04,11.0,1.12,13,3.025713e+11,116.5,20.6,25.1,Dhaka,72.3,173.0,0.51,Bengali,71.8,0.58,167310838.0,59.0,8.8,33.4,4.19,60987417.0,Bangladesh,23684994.0,90356331.0,Asia

In [29]:
media = df4["fertility_rate"].mean()

error = stats.sem(df4["fertility_rate"])

nivel_confianza = 0.99

grados_libertad = len(df4["fertility_rate"]) - 1

valor_critico = stats.t.ppf((1 + nivel_confianza) / 2, df=grados_libertad)

limite_inferior = media - valor_critico * error
limite_superior = media + valor_critico * error

print(f"Intervalo de Confianza: ({np.round(limite_inferior, 2)}, {np.round(limite_superior, 2)})")

Intervalo de Confianza: (2.05, 2.66)

Intervalo de Confianza para la Tasa de Desempleo

Contexto: Eres un analista de políticas públicas y deseas calcular el intervalo de confianza al 95% para la tasa de desempleo promedio en los países de Oceanía.

In [ ]:
df5 = df[df["continent"] == 'Oceania']
df6 = df5[df5["unemployment_rate"].notnull()]
df6.head()

In [35]:
media = df6["unemployment_rate"].mean()

error = stats.sem(df6["unemployment_rate"])

nivel_confianza = 0.95

grados_libertad = len(df6["unemployment_rate"]) - 1

valor_critico = stats.t.ppf((1 + nivel_confianza) / 2, df=grados_libertad)

limite_inferior = media - valor_critico * error
limite_superior = media + valor_critico * error

print(f"Intervalo de Confianza: ({np.round(limite_inferior, 2)}, {np.round(limite_superior, 2)})")

Intervalo de Confianza: (1.19, 5.98)

Intervalo de Confianza para la Tasa de Impuestos

Contexto: Trabajas en un ministerio de finanzas y deseas estimar el intervalo de confianza al 90% para la tasa de impuestos promedio en los países de África.

In [ ]:
df7 = df[df["continent"] == 'Africa']
df8 = df7[df7["total_tax_rate"].notnull()]
df8.head()

In [38]:
media = df8["total_tax_rate"].mean()

error = stats.sem(df8["total_tax_rate"])

nivel_confianza = 0.90

grados_libertad = len(df8["total_tax_rate"]) - 1

valor_critico = stats.t.ppf((1 + nivel_confianza) / 2, df=grados_libertad)

limite_inferior = media - valor_critico * error
limite_superior = media + valor_critico * error

print(f"Intervalo de Confianza: ({np.round(limite_inferior, 2)}, {np.round(limite_superior, 2)})")

Intervalo de Confianza: (41.0, 54.54)

3.Ejercicios prueba de hipótesis: Hasta ahora en la lección y en los ejercicios de la clase invertida os hemos propuesto un contexto y unas hipótesis para entender que es la prueba de hipótesis. Ahora es tu turno, tienes que pensar en 2 hipótesis que quieras aceptar o rechazar usando una prueba de hipótesis en base a los datos que tenemos.

In [43]:
# vamos a definir una función para poder hacer el t-test de Student

def prueba_hipotesis(*args):
    
    # lo primero que tenemos que hacer es mirar si las varianzas son iguales o no
    if len(args) == 2:
        p_valor_varianza = stats.levene(*args, center = "median")[1]
    else:
        p_valor_varianza = stats.bartlett(*args)[1]
    
    if p_valor_varianza > 0.05:
        # realizamos la prueba t de Student
        t_stat, p_valor = stats.ttest_ind(*args, equal_var=True)
    else:
        t_stat, p_valor = stats.ttest_ind(*args, equal_var=False)
        
    # Establecemos un nivel de significancia (alfa)
    alfa = 0.05

    # comparamos el p-valor con el nivel de significancia
    if p_valor < alfa:
        print("Rechazamos la hipótesis nula.")
        print("Hay una diferencia significativa en  los dos grupos.")
    else:
        print("No podemos rechazar la hipótesis nula.")
        print("No hay evidencia suficiente para afirmar una diferencia significativa en  los dos grupos.")

In [39]:
df.head()

,density(p/km2),abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,unnamed_0_y,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,country,latitud,longitud,continent
unnamed_0_x,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,0,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,Afghanistan,3393911.0,67709953.0,Asia
1,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,Albania,41153332.0,20168331.0,Europe
2,18.0,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,2,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,Algeria,28033886.0,1659626.0,Africa
3,164.0,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,3,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,Andorra,42506285.0,1521801.0,Europe
4,26.0,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,4,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,Angola,-11202692.0,17873887.0,Africa

H0 = Vivir en Asia o en Europa no afecta a la esperanza de vida
H1 = Vivir en Asia o en Europa  afecta a la esperanza de vida

In [45]:
# filtramos los datos para obtener dos grupos: 
grupo_asia = df[df['continent'] == 'Asia']["life_expectancy"]
grupo_europa = df[df['continent'] == 'Europa']["life_expectancy"]

# llamamos a la función que hemos creado
prueba_hipotesis(grupo_asia, grupo_europa )

No podemos rechazar la hipótesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa en  los dos grupos.

H0 = La mortalidad infantil > 10 no afecta la esperanza de vida
H1 = La mortalidad infantil > 10 afecta la esperanza de vida

In [46]:
grupo_mayor10 = df[df['infant_mortality'] > 10]["life_expectancy"]
grupo_menor10 = df[df['infant_mortality'] < 10]["life_expectancy"]
prueba_hipotesis(grupo_mayor10, grupo_menor10 )

No podemos rechazar la hipótesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa en  los dos grupos.